<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hotel_image</title>
</head>

<body>
  <form method="post" enctype="multipart/form-data" id="frmid">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  <div class="">
    {%for obj in objs%}
    {{obj.name}}
    <br>
    {%for img in obj.images.all%}

    <img src="{{img.baseimage.url}}" alt="">
    {%endfor%}

    <hr>
    {%endfor%}
  </div>
  <script type="text/javascript">
    let form = document.getElementById('frmid');
    form.addEventListener("submit", function(event) {
      event.preventDefault();

      let fd = new FormData();
      for (var variable of form) {
        let attr = variable.getAttribute('name');//field name of the form
        let type = variable.getAttribute('type');
        if (attr == null)
          continue;
        if (type == "file") {


          // fd.append(attr,variable.files[0]);//for single fiel upload

          //for multiple file upload
          for (var file of variable.files) {
            // append to dict as a list
            fd.append(attr, file);
          }

        } else {
          fd.append(attr, variable.value);
        }
        // console.log(attr);


      }
      fd.append('isXhr', true);

      sendData(fd);




    });

    function sendData(formdata) {
      let request = new XMLHttpRequest();
      request.open('POST', 'http://127.0.0.1:8000/image/upload/test/');

      // upload progress event
      request.upload.addEventListener('progress', function(e) {
        // upload progress as percentage
        let percent_completed = (e.loaded / e.total) * 100;
        console.log(percent_completed);
      });

      // request finished event
      request.addEventListener('load', function(e) {
        // HTTP status message (200, 404 etc)
        console.log(request.status);

        // request.response holds response from the server
        console.log(request.response);
      });

      request.send(formdata);

    }
  </script>

</body>

</html>
