

.form-group {
  padding: 10px;
}

input,
select,
optgroup,
textarea,
button {
  box-shadow: 1px 1px 2px #0000004f;
}
.create_AD_btn{

  background-color:rgb(255, 89, 0);
  color:white;

  width: 60%;
  margin-left: 19%;
}
/* progress indicator */
.progress_indicator {
  padding: 14px;
  display: flex;
  justify-content: space-between;

}

.progress_stage {
  width: 100%;
  text-align: center;
  background-color: #ccccea;
  height: 5px;
}

.progress-active {
  background-color: #ea4e2f;
}

.progress_stage_inner {
  border-radius: 75%;
  background: #a5a0a09e;
  width: 30px;
  border: 1px solid #e1f5fe00;
  /* text-align: center; */
  border-width: 3px;
  box-shadow: 2px 2px 6px #ea4e2f70;
  margin-left: 34%;

  position: relative;
  bottom: 12px;
}

.progress-inner-active {
  background-color: white !important;
  color:black!important;

}

.progress_stage_complect {
  background: orangered;
  color: white;
}
