{% extends 'index.html' %}
{% block body %}
{% load widget_tweaks %}

<style media="screen">


input[type="submit"] {
    margin-top: 20px;
    color: black;
    background: #06050536;
    border: 0px;
    padding: 5px;
    width: 70px;
    border-radius: 5px;
}

input[type="submit"] {
    margin-top: 20px;
    color: black;
    background: #06050536;
    border: 0px;
    padding: 5px;
    width: 70px;
    border-radius: 5px;
}

.h2_padding_bottom {
    padding-bottom: 30px;
}


.checkout_top {
    height: 150px;
    /* padding-left: 80px; */
}

.extra {
    text-align: center;
}
.padding_top_last {
    padding-top: 30px;
}

</style>


<div class="checkout_top">

</div>
<div class="row">
  <div class="col-2">

  </div>
  <div class="col-8 ">
    <div class="extra jumbotron">

      <div class="h2_padding_bottom">
        <h2>Login</h2>
      </div>
      <form method="post" novalidate class="from">
        {% load widget_tweaks %}
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}

      {% for field in form.visible_fields %}
        <div class="form-group">
          <!-- {{ field.label_tag }} -->
          <div class="mt-4"></div>

          {% if form.is_bound %}
            {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            {% else %}
              {% render_field field class="form-control is-valid" %}
            {% endif %}
          {% else %}
            {% render_field field class="form-control" placeholder=field.label %}
          {% endif %}

          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
      {% endfor %}
          <button type="submit" class="btn btn mt-4">Login</button>

      </form>

      </div>
  </div>
  <div class="col-2">

  </div>
</div>


<div class="padding_top_last">
  <div class="extra">

   <p>dont have a account , Create an account  <a style="color:#caac76;" href="{%url 'user:register'%}">Here</a> </p>
   <p>forgotten your password click here <a style="color:#caac76;" href="{%url 'user:password_reset'%}">Here</a> </p>

   <div>

</div>

<div class="container">
  <button class="btn btn-primary mb-2">
    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
</button>
</div>


{% endblock %}
