
{% extends 'home.html' %}
  {% block body %}

  <style media="screen">



  .checkout_top {
      height: 150px;
      /* padding-left: 80px; */
  }


  </style>

  <div class="checkout_top">

  </div>

<div class="container">
  {% load widget_tweaks %}
<div class="h1">
  <p>Please enter your Email </p>
</div>
  <form method="post" novalidate>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}
    <!-- for any hedden input in the form  -->

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}
  <!-- from rendering  start here  -->
    {% for field in form.visible_fields %}

      <div class="form-group">

        {{ field.label_tag }}  <!--render the form label -->


        {% if form.is_bound %}
        <!-- If it’s bound to a set of data, it’s capable of validating that data and rendering the form as HTML with the data displayed in the HTML.

        If it’s unbound, it cannot do validation (because there’s no data to validate!),
        but it can still render the blank form as HTML.
      -->
          {% if field.errors %}<!--render form error, ther is any error  -->
            {% render_field field class="form-control  is-invalid" %} <!--render the error field and adding class   -->
            {% for error in field.errors %}<!--looping over all the error   -->
              <div class="invalid-feedback">
                {{ error }}<!--rendering error   -->
              </div>
            {% endfor %}
          {% else %}
            {% render_field field class="form-control  is-valid" %}<!--render actual form with  data   -->
          {% endif %}
        {% else %}
          {% render_field field class="form-control hello" placeholder=field.label %}  <!--when the from render at first with no error this line of code exicute -->
        {% endif %}

        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
    {% endfor %}<!--looping over all the fields end  -->
      <button type="submit" class="btn btn-primary mt-2">submit</button>

  </form>
  </div>
  <div class="checkout_top">

  </div>

  {% endblock body %}
