

{% load widget_tweaks %}

<style media="screen">
  .checkout_top {
      height: 150px;
      /* padding-left: 80px; */
  }
</style>


<div class="checkout_top">
  <div class="container-fluid">
    <div class="row">

    </div>
  </div>
</div>


<h2>Sign up</h2>
<form class="form-control" method="post" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control  is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control  is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control hello" placeholder=field.label %}  <!--when the from render at first with no error this line of code exicute -->
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
      {% endif %}
    </div>
  {% endfor %}
    <button type="submit" class="btn btn">Submit</button>

</form>
